.header_top_nav_icon {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}

.nav-link:hover {
  font-weight: bold;
  transition: all;
  border-bottom: 1px solid #173336;
}

nav {
  background-color: #173336;
  margin-top: -5px !important;
  padding: 5px 0px !important;
  margin-bottom: 0px !important;
}

nav .nav-link {
  color: #fff !important;
}
.navigation_sec {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
header {
  margin-bottom: 182px;
  z-index: 9999999;
  background-color: #fff !important;
  position: relative;
}
.logo {
  max-width: 200px;
}

.btn {
  padding: 8px 50px !important;
}
.top_nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding-bottom: 0px !important;
}

.top_nav p {
  color: #173336;
  font-size: 15px;
  font-weight: 500;
}

.collapse {
  flex-direction: column;
  align-items: start !important;
  justify-content: right !important;
}

.navbar-nav {
  flex-wrap: wrap;
}

.navbar {
  position: fixed !important;
  top: 57px;
  width: 100%;
  z-index: 9999;
}

.navbar.scrolled {
  top: 0 !important;
  transition: 0.3s;
}

.heade_serch {
  width: 100%;
  position: relative;
}

.heade_serch .form-control {
  border: 0;
  border-bottom: 1px solid #d2c2a1;
}

.search_icon {
  position: absolute;
  right: 5px;
  top: 9px;
}

.mbl,
.class_mbl {
  display: none;
}

.left_shade {
  opacity: 0.6;
}

.right_shade,
.test_bg {
  opacity: 0.5;
}

.history_bg,
.gold_shemes_bg,
.gold_shemes_bg1,
.sub_bg_img,
.history_bg_img {
  opacity: 0.4 !important;
}

.nav-item .active {
  color: #f9be43 !important;
  border-bottom: 2px solid #f9be43;
  font-weight: bold;
}


/*our promis sec*/


.svg-wrap {
  width: 145px;
  height: 145px;

  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.svg-wrap svg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.overlay-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease !important;
}

.draw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.draw-path {
  fill: none;
  stroke: #b8a070;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg-wrap.hover-hide .overlay-fill {
  opacity: 0;
}

@media screen and (min-width: 1400px) {
  .classtab input {
    width: 670px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {
  .classtab input {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .classtab input {
    width: 450px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .classtab input {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 993px) {
  .classtab input {
    width: 200px;
  }
}
@media screen and(min-width:1200px) {
  .navbar-expand-lg .navbar-nav {
    justify-content: space-between !important;
  }
}

@media screen and (min-width: 993px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0px !important;
    padding-right: 0px;
  }
  .navsec {
    width: 100%;
  }
  .navbar {
    margin-top: -15px;
  }
  header {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 992px) {
  .class_mbl {
    display: block;
  }

  .classtab {
    display: none;
  }

  .top_nav_left_sec {
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
  }

  .first_sec p {
    width: 280px !important;
  }

  nav {
    margin-top: 5px !important;
    padding: 5px 0px !important;
    margin-bottom: 0px !important;
  }
  .class_mbl input {
    background-color: transparent !important;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .navbar-toggler {
    border: 2px solid #fff !important;
  }

  .nav-item .active {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-nav,
  .navbar-expand-lg .navbar-nav {
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    margin-bottom: 82px;
  }

  .top_nav_right_sec .d-flex {
    width: 120px !important;
  }

  .navbar {
    top: 26px;
  }

  .navbar.scrolled {
    top: -5px !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1999px) {
  .navbar-nav {
    align-items: left !important;
    justify-content: left !important;
    display: flex !important;
  }
}
@media screen and (max-width: 767px) {
  header {
    margin-bottom: 86px;
  }
  .tab {
    display: none;
  }
  .top_nav {
    flex-direction: column;
  }

  .mbl {
    display: block;
  }
  nav {
    margin-top: 0px !important;
    padding: 8px 0px !important;
    margin-bottom: 0px !important;
  }
  .navbar {
    top: 0px;
  }
}
